# directory for storing our stuff
DATADIR="/home/$USER/cronjobs/"
# URL of the file to check
URL="https://www.example.org/file" 
# file name / where to save the file
FILENAME="file.name"
# location of the md5sum (so we can compare on the next run)
MD5SUM="path/md5sum-previous-file"
# email address used for the sender
SENDER="noreply@example.org"
# email address to send to
RECEIVER="informedperson@example.org"
# email subject line
SUBJECT="important subject line"
# email content
CONTENT="Very important text for the email!"
